<div class="timer-creator">
  <div class="timer-selector">
    <mat-form-field>
      <mat-label>Hours</mat-label>
      <input matInput type="number" min="0" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Minutes</mat-label>
      <input matInput type="number" min="0" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Seconds</mat-label>
      <input matInput type="number" min="0" />
    </mat-form-field>
    <button mat-mini-fab color="primary">
      <mat-icon aria-hidden="false">add</mat-icon>
    </button>
  </div>
</div>
