<div class="timer-container">
  <h1>{{ timeOutput }}</h1>
  <button mat-mini-fab color="primary" (click)="pauseTimer()">
    <mat-icon aria-hidden="false">pause</mat-icon>
  </button>
  <button mat-mini-fab color="primary" (click)="startTimer()">
    <mat-icon aria-hidden="false">play_arrow</mat-icon>
  </button>
  <button mat-mini-fab color="primary" (click)="resetTimer()">
    <mat-icon aria-hidden="false">replay</mat-icon>
  </button>
  <button mat-mini-fab color="primary" (click)="deleteTimer()" class="delete">
    <mat-icon aria-hidden="false">delete</mat-icon>
  </button>
  <h1>{{ nameOutput }}</h1>
</div>
