.timer-container {
  display: flex;
  flex-direction: row;
  padding: 2em;
}

h1 {
  margin-top: 4px;
}

h1 + button {
  margin-left: 10px;
}

button + h1 {
  margin-left: 10px;
}

button + button {
  margin-left: 10px;
}
